
.container{
    /*paddingTop: STATUSBAR_HEIGHT;*/
    background-color: white;

}
.cityContainer {
  display: flex;
  height: 48px;
  justify-content: center;
  text-align: center;
}
.adContainer {
    height: 190px;
}
.menuContainer {
    height: 130px;
}
.acceptContainer {
    height: 160px;
}
.cityButtonContain{
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.cityButton {

}
.cityButtonImage {
    width: 15px;
    height: 15px;
}
.cityButtonText {
}
.scanButton{
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}
.scanButtonImage {
  width: 26px;
  height: 26px;
}

.carousel {
    height: 190px;
    width: 100%;
}

.menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin-horizontal: 20;*/
}
.menuButton {
    margin-top : 20%;
    align-items: center ;
    text-align: center;
}
.menuButtonImage {
    width: 18vw;
    background-color: white;
}
.menuButtonText {
    font-size: 14px;
    width: 100%;
}

.moreMenuButton {
  align-items: center ;
  text-align: center;
}

.acceptTop {
    height: 30px;
    margin-top: 15px;
    margin-left : 10px;
    border-left: solid 5px #f18036;
    align-items: center;
}
.acceptTopText {
    margin-left: 15px;
    font-size: 20px;
}
.acceptTopButton {
    margin-right: 20px;
}
.acceptTopButtonText {
    font-size: 20px;
    text-align: end;
}
.acceptMain {
    justify-content: space-between;
    align-items: center;
    /*margin-horizontal: 20px;*/
}
.acceptButtonImage {
    width: 23vw;
    background-color: white;
}

.ECardMain {
    justify-content: center;
    align-items: center;
}
.ecardButtonImage {
    width: 300px;
    height: 200px;
}

.tabBarIcon {
    width: 21px;
    height: 21px;
}
