.container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}


.homeTabIcon {
  width: 22px;
  height: 22px;
  background: url('../../assets/images/home_sel.png') center center /  21px 21px no-repeat;
}
.homeTabSelectedIcon {
  width: 22px;
  height: 22px;
  background:url('../../assets/images/home_sel.png') center center /  21px 21px no-repeat;
}

.orderTabIcon {
  width: 22px;
  height: 22px;
  background: url('../../assets/images/order_sel.png')  center center /  21px 21px no-repeat;
}
.orderTabSelectedIcon {
  width: 22px;
  height: 22px;
  background: url('../../assets/images/order_sel.png') center center /  21px 21px no-repeat;
}

.mineTabIcon {
  width: 22px;
  height: 22px;
  background: url('../../assets/images/mine_sel.png') center center /  21px 21px no-repeat;
}
.mineTabSelectedIcon {
  width: 22px;
  height: 22px;
  background: url('../../assets/images/mine_sel.png') center center /  21px 21px no-repeat;
}