.container {
  height: 100%;
  /*flex-direction: column;*/

  /*justify-content: center;*/
  /*align-items: center;*/
  background-color: white;
}
.headerImgContain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.headerImg {
  width: 100%;
}
.contentContainer{
  height: 100%;
  overflow: scroll;
}
.price {
  align-items: flex-start;
}
.nameText {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}
.priceText {
  font-size: 16px;
  margin: 10px;
  color: red;
}
.descImgContainer {
  width:100%;
  /*height:6000px;*/
  margin-bottom: 25%;
}
.descImg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.place {
  display: flex;
  background-color: rgb(217, 66, 66);
  color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.placeText {
  font-size: 20px
}