.container {
  height:100%;

  background-color: rgb(245, 245, 245);
}
.tabContent{
  height:100%;
  overflow: scroll;

}
.tabContentItem {
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.tabOverPayCash{
  display: flex;
  border-radius: 10px;
  margin: 15px;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background-color: #cccccc
}
.leftTabItem {

}
.leftText {
  font-size: 20px;
  font-weight: bold;
  color: #00CED1
}
.rightTabItem {
  line-height: 160%;
}
.line{
  width:100%;
}
.footer {
  position: absolute;
  padding-top:10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  align-items: center;
  background-color: white;
}
.moreText {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.exchangeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f18036;
}
.exchangeText {
  font-weight: bold;
  font-size: 20px;
  color: white
}
.checkContain {
  width: 42px;
}
.check {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  background-color: #f18036;
  border:solid 2px #CCCCCC;
  justify-content: center;
  align-items: center;
}
.checkText {
  color: #FFFFFF;
}
.unCheck {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  background-color: #FFFFFF;
  border:solid 2px #CCCCCC;
  justify-content: center;
  align-items: center;
}
.margin{
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.expireDateText{
  color: #f18036
}