.container {
  width:100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.producList {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  overflow: scroll;
  height: 100%;
}
.producBlank{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  overflow: scroll;
  height: 100%;
  flex-direction: column;
}
.product {
  height: 160px;
  margin-bottom: 10px;
  background-color: white;
  border-bottom:solid #ccc 8px;

}
.leftImage {
  width: 30%;
}
.rightText {
  width: 100%;

  margin-left: 20px;
}
.titleText {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 20px;
}
.nameText {
  padding-bottom: 10px;
  border-bottom: 1px dashed #000;;
}
.descText {
  font-size: 16px;
  color: rgb(155, 147, 147);
}
.priceText {
  font-size: 16px;
  margin-top: 20px;
  color: red
}

.noProduct{
  font-size: 18px;
  background-color:#eeeeee;
}
